// Widescreen
@include mediaXl {

  .menu-btn {
    display: none;
  }

  /* Picture Desktop */
  .main-picture__bg_center {
    margin: 109px 420px 0 7px;
  }
  
  .picture-text-wrapper {
    flex-flow: 0 0 370px;
  }

  .main-picture__title {
    font-size: 50px;
    line-height: 60px;
  }
  
  .main-picture__text {
    font-size: 22px;
    line-height: 26px;
    margin-top: 12px;
  }
  /* end Picture Desktop */

// Avantages
  .advantages__title {
    font-size: 20px;
    line-height: 24px;
  }

  .card-item_text {
    font-size: 16px;
    line-height: 22px;
  }

  .advantages_tooltiptext {
    font-size: 14px;
    line-height: 20px;
  }

  .red-star_mob {
    display: inline;
    color: red;
    margin-right: 14px;
    font-size: 3.9vw;
    line-height: 1.5;
  }
// end Avantages

// Banner
.banner-title{
  font-size: 24px;
  line-height: 30px;
}
// end Banner

  .main-section-steps {
    min-width: 1350px;
    min-height: 398px;
    padding: 72px 209px 58px 210px;
  }

  .steps__card-wrap {
    justify-content: space-around;
    align-self: center;
  }
  
  // footer
  .footer-notification {
    font-size: 16px;
    line-height: 18px;
  }

  .footer-contacts_tel-1 {
    font-size: 16px;
    line-height: 19px;
  }

  .footer-contacts_mail {
    font-size: 12px;
    line-height: 14px;
  }
  
  .footer-contacts_tel-2 {
    font-size: 16px;
    line-height: 19px;
  }
  
  .footer-contacts_explain {
    font-size: 12px;
    line-height: 20px;
  }

  .socials-text {
    font-size: 14px;
    line-height: 17px;
  }

  .footer-nav a {
    font-size: 18px;
    line-height: 22px;
  }

  .footer-copyright_text {
    font-size: 16px;
    line-height: 19px;
  }
}

// Desktops & Laptops
@include mediaLg {

  .menu-btn {
    display: none;
  }

// Banner
.banner-title{
  font-size: 1.8vw;
  line-height: 2.2vw;
}
// End Banner

/* -------steps Tablet--------- */
.main-section-steps {
  max-width: 1350px;
  min-height: 398px;
  padding: 5vw 0 4vw 0;
}

.steps__title {
  font-size: 1.5vw;
  line-height: 1.8vw;
}

.steps__card-wrap {
  
  position: relative;
  min-width: 931px;
  margin-top: 46px;
}

.steps-card-item_number {
  font-size: 1.3vw;
  line-height: 1.6vw;
}

.steps-card-item_text {
  font-size: 1.2vw;
  line-height: 1.4vw;
}
/* -------end steps Tablet--------- */


  /* -------footer desktop--------- */
  .footer {
    display: grid;
    min-height: 655px;
    grid-template-columns: 1fr;
    grid-template-rows: 40.46%	10.69%	35.72%	13.13%;
  }

  .footer-contacts_wrap {
    display: grid;
    min-height: 265px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-template-columns: 12.15%	38%	4%	14.74%	3.04%	14.74%	13.33%;
    grid-template-rows: 26.79%	47.55%	25.66%;
    background: $background-color-second;
  }

  .footer-notification {
    font-family: $font-family-main;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;
    line-height: 1.3vw;
    color: $text-color-main;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .footer-contacts_inner {
    display: grid;
    width: 199px;
    height: 128px;
    grid-template-rows: 14.84%	9.38%	10.94%	14.06%	14.84%	4.69%	31.25%;
    align-items: start;
  }

  .contacts_inner-column1 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }

  .contacts_inner-column2 {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }

  .footer-contacts_tel-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    line-height: 1.4vw;
    color: $text-color-main;
  }

  .footer-contacts_mail {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    line-height: 1vw;
    text-transform: uppercase;
    color: $text-color-title;
  }

  .footer-contacts_tel-2 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2vw;
    line-height: 1.4vw;
    color: $text-color-main;
  }

  .footer-contacts_explain {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: normal;
    font-size: 0.9vw;
    line-height: 1.5vw;
    text-transform: uppercase;
    color: $text-color-main;
  }

  // .footer-socials {
    
  // }

  .socials-text {
    font-size: 1.0vw;
    line-height: 1.3vw;
  }

  .footer-nav {
    display: grid;
    min-height: 234px;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    grid-template-columns: 12.15%	20.52%	12.67%	20.52%	12.66%	9.33%	12.15%;
    grid-template-rows: 34.19%	9.4%	12.82%	9.4%	34.19%;
    background: $background-color-header-top;
  }

  .footer-nav a{
    font-family: $font-family-main;
    font-style: normal;
    font-size: 1.3vw;
    line-height: 1.6vw;
    color: $text-color-white;
  }

  .footer-nav_item1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .footer-nav_item2 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

  .footer-nav_item3 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }

  .footer-nav_item4 {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }

  .footer-nav_item5 {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
  }

  .footer-nav_item6 {
    grid-column: 6 / 7;
    grid-row: 4 / 5;
  }

  .footer-copyright {
    display: grid;
    min-height: 86px;
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    grid-template-columns: 12.15%	75.7%	12.15%;
    background: $background-color-header-top;
    border-top: 2px solid $background-color-main;
  }

  .footer-border {
    border: 2px solid $background-color-main;
  }  


  .footer-copyright_text {
    grid-column-start: 2;
    align-self: center;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vw;
    line-height: 1.4vw;
    color: $text-color-white;
    
  }
  /* -------end footer desktop--------- */
  
}
 
// Tablets & Small Laptops
@include mediaMd {
  
  // Menu
  .menu-btn {
    display: block;
  }

  .nav-page-desk-none {
    display: block;
  }

  .lang-desk-none {
    display: inline-flex;
  }

  .container {
    max-width: $container-width-tab;
  }

  .header-top_inner {
    flex: 0 1 768px;
    // margin-right: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-btn {
    margin: 20px 0 10px 30px;
  }

  @import 'menu';


  .logo {
    // display: flex;
    width: 98px;
    height: 31px;
    // margin-right: 42px;
    margin-left: 38px;
  }
  
  .logo > img {
    width: 98px;
    height: 31px;
    object-fit: cover;
  }

  .nav-icons__item:last-of-type {
    display: none;
  }

  .nav-icons {
    display: flex;
    flex: 0 0 126px;
    min-height: 30px;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
  }

  .nav-site, 
  .language-switch_desktop, 
  .nav-icons__item_search,
  .header-bottom {
    display: none;
  }


 /*   Picture Tab  */
.main-picture {
  width: 100%;
  max-height: 967px;
  background: url(../img/picture_bg_tab.svg) no-repeat 100% 100%;
  background-size: cover;
  overflow-x: hidden;
  display: flex;
}

.picture-container {
  width: $container-width-tab;
  height: 967px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background: url(../img/picture_bg_man_tab.svg) no-repeat center;
  background-size: cover;
  // overflow-x: hidden;
}

.picture-text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  // width: 100%;
  
  // flex-flow: 0 0 564px;
  // flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: 0px;
  margin-top: 88px;
  
}

.main-picture__title {
  // font-weight: 800;
  flex: 0 1 auto;
  font-size: 80px;
  line-height: 96px;
  color: $background-color-main;
  margin: 7px 0 0 36px;
}


.main-picture__text {
  // font-weight: 800;
  font-size: 46px;
  line-height: 55px;
  color: $background-color-main;
  margin: 12px 0 0 45px;
}

.main-picture__bg_center {
  max-width: 448px;
  max-height: 589px;
  margin-left: 20px;
  margin-top: 76px;
}

  // Advantages
  .main-section-advantages {
    padding: 61px 0;
    max-height: 329px;
  }

  .advantages__card-wrap {
    justify-content: flex-start;
    overflow-x: auto;
    padding: 0;
    max-width: unset;
  }
  .advantages__card-wrap:before, .advantages__card-wrap:after {
    content: '';
    flex: 0 0 30px;
    height: 100%;
  }
  .advantages__card-item {
    flex: 1 0 243px;
  }

  .advantages__title {
    font-size: 2.6vw;
    line-height: 3.1vw;
  }

  .card-item_text {
    font-size: 2.1vw;
    line-height: 2.9vw;
  }

  .advantages_tooltiptext_mob {
    display: flex;
    flex: 1 1 100%;
	  align-self: flex-start;
    padding: 34px 30px 0 30px;
    font-family: $font-family-main;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8vw;
    line-height: 2.6vw;
  }

  .red-star_mob {
    display: inline;
    color: red;
    margin-right: 14px;
    font-size: 2.8vw;
    line-height: 1.5;
  }
// end Avantages

/*  Packages */
.main-section-packages {
  // width: 100%;
  max-height: 641px;
  overflow: hidden;
  // background-color: $background-color-main;
}

.packages-container {
  width: $container-width-tab;
  overflow: hidden;
}

// .packages-header {
//   flex: 1 1 100%;
//   text-align: center;
//   font-style: normal;
//   font-weight: 900;
//   font-size: 20px;
//   line-height: 24px;
//   text-transform: uppercase;
// }

// .packages-alternative {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// 	flex: 1 1 100%;
// }

.packages-alternative_item {
  // flex: 0 0 140px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // height: 44px;
  // background: $background-color-main;
  // border: 1px solid #AEAEAE;
  // font-style: normal;
  // font-weight: bold;
  // font-size: 18px;
  // line-height: 22px;
  // color: $text-color-heading;
  margin: 46px 0 24px 0;
}

// .packages-alternative_item:hover {
//   background: $background-color-icons;
// }

// .current-bg {
//   background: $background-color-icons;
//   border-left: 2px solid #AEAEAE;
//   border-right: 2px solid #AEAEAE;
// }

.packages__card_wraper {
  justify-content: flex-start;
  overflow-x: auto;
  padding: 0;
  max-width: unset;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex: 1 1 100%;
  // max-width: 964px;
  min-height: 380px;
  margin-left: 16px;
}

.packages__card_wraper::before .packages__card_wraper::after {
  content: '';
  flex: 0 0 30px;
  height: 100%;
}

.packages__card_wrap {
  // display: flex;
  // justify-content: center;
  // align-content: flex-start;
  // flex-wrap: wrap;
  flex: 0 0 288px;
  height: 355px;
  box-shadow: 0px 4px 30px rgba(196, 196, 196, 0.4);
}

.packages__card_wrap:not(:last-of-type) {
  margin-right: 16px;
}

.packages__card_wrap:nth-of-type(2) {
  margin-left: 5px;
}

.packages__card_wrap:nth-of-type(3) {
  margin-left: 5px;
}

.packages__card_img1 {
  flex: 0 0 288px;
  height: 220.46px;
  background: url(../img/packages__card_img1.jpg) no-repeat center;
  background-size: cover;
  display: flex;
}

.packages__card_circle {
  flex: 0 0 65px;
  height: 65px;
  background-color: $background-color-icons;
  border-radius: 50%;
  margin: 6px 0 0 6px;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-content: center;
}

.packages__card_discount {
  font-size: 18px;
  line-height: 22px;
  // color: $background-color-header-top;
}

.packages__card_discount-text {
  // font-style: normal;
  // font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  // color: $background-color-header-top;
}

.packages__card_img2 {
  flex: 0 0 288px;
  height: 220.46px;
  background: url(../img/packages__card_img2.svg) no-repeat center;
  background-size: cover;
  display: flex;
}

.packages__card_img3 {
  flex: 0 0 288px;
  height: 220.46px;
  background: url(../img/packages__card_img3_bg.svg) no-repeat center, url(../img/packages__card_img3.svg) no-repeat center;
  background-size: cover;
  display: flex;
}

.wrap-packages__card_title {
  flex: 0 0 288px;
  height: 81.26px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.packages__card_title {
  // display: flex;
  // font-style: normal;
  // font-weight: bold;
  // font-size: 18px;
  // line-height: 22px;
  // color: $text-color-title;
  margin-top: 5px;
}

.packages__card_explanation {
  // font-style: normal;
  // font-size: 16px;
  // line-height: 19px;
  // font-weight: normal;
  // color: $text-color-explain;
  margin-top: 7px;
}

.packages__card_price-wrap {
  flex: 0 0 288px;
  height: 53.28px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // background-color: $background-color-second;
}

.packages__card_price {
  // font-style: normal;
  // font-size: 18px;
  // line-height: 22px;
  // color: $text-color-title;
  margin-bottom: 18px;
}

.packages__card_price > span {
  font-weight: bold;
}

.packages__circle_tooltiptext1 {
  cursor: default;
  // position: relative;
}

.packages__circle_tooltiptext1 .packages-tooltiptext1 {
  display: none;
}

.packages__circle_tooltiptext2 {
  cursor: default;
  // position: relative;
}

.packages__circle_tooltiptext2 .packages-tooltiptext2 {
  display: none;
}



// Banner
.main-picture-banner{
  justify-content: flex-start;
}

.container-banner {
  max-width: $container-width-tab;
  justify-content: flex-start;
}

.banner_aktivation_inner {
  flex: 0 1 420px;
  padding-left: 16px;
  max-width: 420px;
}

.banner-title{
  flex: 1 1 410px;
  min-height: 102px;
  font-size: 3.6vw;
  line-height: 4.4vw;
  margin-top: 70px;
  padding-bottom: 50px;
}

.banner__background-img {
  flex: 0 1 345px;
  max-height: 352px;
  margin-left: -25px;
  margin-top: 31px;
}

.main-picture-banner {
  background: url(../img/icons/banner_bg.svg) no-repeat center;
}
/*  end Banner Tab */

/* -------Steps Tablet--------- */
.main-section-steps {
  max-width: 768px;
  min-height: 370px;
  padding: 62px 0 58px 30px;
}

.steps__title {
  font-size: 2.6vw;
  line-height: 3.1vw;
}

.steps__card-wrap {
  /* margin-left: 30px; */
  margin-top: 46px;
}

.steps-card-item_number {
  font-size: 2.3vw;
  line-height: 2.9vw;
}

.steps-card-item_text {
  font-size: 2.1vw;
  line-height: 2.5vw;
}
/* -------end steps Tablet--------- */


/* Questions Tab */
.main-section-questions {
  // width: 100%;
  min-height: 157px;
  // background-color: $background-color-main;
  // display: flex;
  flex-flow: row nowrap;
  // justify-content: center;
  // align-content: flex-start;
}

.questions-container {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: center;
  // text-align: center;
  margin-top: 48px;
}

.questions-btn-rectangle {
  flex: 0 0 320px;
  height: 41px;
}

.show-answers {
  margin-top: 0px;
  margin-bottom: 48px; 
}

.answers-wrap {
  // display: flex;
  // flex-flow: column wrap;
  flex: 0 0 704px;
  // align-items: flex-start;
  // border-bottom: 1px solid rgba(196, 196, 196, 0.72);
}

.questions-title-inner {
  min-width: 704px;
  // min-height: 72px;
  // border-top: 1px solid rgba(196, 196, 196, 0.72);
  // border-bottom: 1px solid rgba(196, 196, 196, 0.72);
  // display: flex;
  // flex-flow: column wrap;
  // justify-content: center;
  // align-items: flex-start;
}

.questions-title-inner:nth-last-of-type(1) {
  margin-bottom: 104px;
}

// .question {
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 19px;
//   text-transform: uppercase;
//   color: $text-color-main;
//   margin: 26px 0;
// }

// .question::after {
//   content: url(../img/icons/questions-arrow.svg);

// }

.answers {
  // text-align: left;
  min-height: 132px;
  max-width: 608px;
  // white-space: pre-wrap;
  // font-style: normal;
  // font-weight: normal;
  // font-size: 16px;
  // line-height: 24px;
  // color: $text-color-main;
  margin: 6px 130px 25px 0;
}
/* end Question Tab */


/* -------footer Tablet--------- */
.footer {
  display: grid;
  min-height: 378px;
  max-width: 768px;
  grid-template-columns: 1fr;
  grid-template-rows: 30.16%	47.09%	22.75%;
}

.container {
  max-width: $container-width-tab;
}

.footer-contacts_wrap {
  display: none;
}

.footer-socials {
  display: grid;
  grid-row: 1 / 2;
  grid-template-columns: 29.17%	41.66%	29.17%;
  background: $background-color-socials;
}

.socials-text {
  display: none;
}

.socials-icons {
  display: flex;
  min-width: 282px;
  grid-column: 2 / 3;
  align-self: center;
  justify-content: space-between;
}

.socials-icons a {
  max-width: 40px;
  max-height: 40px;
}

.footer-nav {
  
  background: $background-color-header-top;
}

.container-footer-nav {
  grid-row: 2 / 3;
  display: grid;
  min-height: 178px;
  grid-template-columns: 3.91%	52.21%	3.91%	36.06%	3.91%;
  grid-template-rows: 22.47%	12.36%	8.99%	12.36%	8.99%	12.36%	22.47%;
}

.footer-nav a{
  font-family: $font-family-main;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 2.3vw;
  line-height: 2.9vw;
  color: $text-color-white;
}

.footer-nav_item1 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.footer-nav_item2 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.footer-nav_item3 {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.footer-nav_item4 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.footer-nav_item5 {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}

.footer-nav_item6 {
  grid-column: 4 / 5;
  grid-row: 6 / 7;
}

.footer-copyright {
  
  border-top: 1px solid $background-color-main;
}

.container-footer-copyright {
  grid-row: 3 / 4;
  display: flex;
  height: 86px;
  padding-left: 30px;
  background: $background-color-header-top;
}

.footer-copyright_text {
  display: flex;
  align-self: center;
  font-family: $font-family-main;
  font-style: normal;
  font-weight: normal;
  font-size: 2.1vw;
  line-height: 2.5vw;
  color: $text-color-white;
}
/* -------end footer Tablet--------- */
  
}
 
// Smartphones
@include mediaSm {
 
  .container {
    width: $container-width-mob;
  }

  .header-top_inner {
    flex: 0 1 360px;
    // margin-right: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-btn {
    margin: 14px 0 14px 21px;
  }

ul.menu-nav {
  float: none;
  width: 322px;
  min-height: 0;

  &.show {
    transform: translate3d(0, 0, 0);
  }
}

  .menu-nav {
    height: 211px;
    transform: translate3d(-100%, 0, 0);
    font-style: normal;
    font-weight: 900;
    line-height: 19px;
    font-size: 16px;
  }

  .logo {
    width: 82px;
    height: 26px;
    // margin-right: 42px;
    margin-left: 68px;
  }
  
  .logo > img {
    width: 82px;
    height: 26px;
    object-fit: cover;
  }

  .nav-icons {
    display: flex;
    flex: 0 0 80px;
    min-height: 20px;
    justify-content: space-between;
    align-items: center;
    margin-right: 16px;
  }

  .nav-icons__item {
    display: flex;
    width: 20px;
    height: 20px;
  }
  
  .nav-icons__item_profile {
    width: 20px;
    height: 20px;
    background: url(../img/icons/profile_mob.svg) no-repeat;
  }
  
  .nav-icons__item_wallet {
    width: 20px;
    height: 20px;
    background: url(../img/icons/wallet_mob.svg) no-repeat;
    background-size: contain;
  }
  
  .nav-icons__item_pin {
    width: 20px;
    height: 20px;
    background: url(../img/icons/pin_mob.svg) no-repeat;
  }
  
  /*  Picture mob */
.main-picture {
  width: 100%;
  height: 580px;
  background: url(../img/picture_bg_tab.svg) no-repeat 100% 100%;
  background-size: cover;
  overflow: hidden;
  // display: flex;
}

.picture-container {
  width: $container-width-mob;
  height: 580px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background: url(../img/picture_bg_man_mob.svg) no-repeat center;
  background-size: cover;
  overflow-x: hidden;
}

.picture-text-wrapper {
  display: flex;
  flex-flow: column nowrap;
  // width: 100%;
  
  // flex-flow: 0 0 564px;
  // flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0px 13px 0 0px;
}

.main-picture__title {
  // font-weight: 800;
  flex: 0 1 auto;
  font-size: 40px;
  line-height: 48px;
  color: $background-color-main;
  margin: 80px 0 0 15px;
}


.main-picture__text {
  font-size: 23px;
  line-height: 28px;
  color: $background-color-main;
  margin: 6px 0px 0 16px;
}

.main-picture__bg_center {
  max-width: 227px;
  max-height: 298px;
  margin: 0 0 0 0;
}



  /*  Advantages mob */
  .main-section-advantages {
    padding: 72px 0 39px 0;
  }

  .advantages__title {
    font-size: 5.0vw;
    line-height: 6.1vw;
  }

  .card-item_text {
    font-size: 4.4vw;
    line-height: 6.1vw;
  }

  .advantages_tooltiptext_mob {
    padding: 37px 30px 0 16px;
    font-size: 3.9vw;
    line-height: 5.6vw;
  }

  .red-star_mob {
    display: inline;
    color: red;
    margin-right: 14px;
    font-size: 3.9vw;
    line-height: 1.5;
  }
/*  end Avantages mob */

/*  Packages mob */
.main-section-packages {
  height: 605px;
  overflow: hidden;
  // background-color: $background-color-main;
}

.packages-container {
  width: $container-width-mob;
  overflow: hidden;
  justify-content: flex-start;
}

.packages-header {
  // flex: 1 1 100%;
  // text-align: center;
  // font-style: normal;
  // font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  // text-transform: uppercase;
}

.packages-alternative_item {
  flex: 0 0 110px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: 43.77px;
  // background: $background-color-main;
  // border: 1px solid #AEAEAE;
  // font-style: normal;
  // font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  // color: $text-color-heading;
  margin: 34px 0 41.84px 0;
}

.packages__card_wraper {
  justify-content: flex-start;
  overflow-x: auto;
  padding: 0;
  max-width: unset;
  display: flex;
  // justify-content: center;
  // align-items: center;
  // flex: 1 1 100%;
  // min-width: 964px;
  min-height: 380px;
}

.packages__card_wraper::before .packages__card_wraper::after {
  content: '';
  flex: 0 0 30px;
  height: 100%;
}

.packages__card_wrap {
  flex: 0 0 288px;
  height: 355px;
  box-shadow: 0px 4px 30px rgba(196, 196, 196, 0.4);
}

.packages__card_wrap:not(:last-of-type) {
  margin-right: 16px;
}

.packages__card_wrap:nth-of-type(2) {
  margin-left: 5px;
}

.packages__card_wrap:nth-of-type(3) {
  margin-left: 5px;
}

.packages__card_img1 {
  flex: 0 0 288px;
  height: 220.46px;
  background: url(../img/packages__card_img1.jpg) no-repeat center;
  background-size: cover;
  display: flex;
}

.packages__card_circle {
  flex: 0 0 65px;
  height: 65px;
  background-color: $background-color-icons;
  border-radius: 50%;
  margin: 6px 0 0 6px;
}

.packages__card_discount {
  font-size: 18px;
  line-height: 22px;
}

.packages__card_discount-text {
  font-size: 12px;
  line-height: 14px;
}

.packages__card_img2 {
  flex: 0 0 288px;
  height: 220.46px;
  background: url(../img/packages__card_img2.svg) no-repeat center;
  background-size: cover;
  display: flex;
}

.packages__card_img3 {
  flex: 0 0 288px;
  height: 220.46px;
  background: url(../img/packages__card_img3_bg.svg) no-repeat center, url(../img/packages__card_img3.svg) no-repeat center;
  background-size: cover;
  display: flex;
}

.wrap-packages__card_title {
  flex: 0 0 288px;
  height: 81.26px;
}

.packages__card_title {
  margin-top: 5px;
}

.packages__card_explanation {
  margin-top: 7px;
}

.packages__card_price-wrap {
  flex: 0 0 288px;
  height: 53.28px;
}

.packages__card_price {
  margin-bottom: 18px;
}


// Banner
.main-picture-banner {
  min-height: 384px;
}

.banner-title{
  font-size: 5.6vw;
  line-height: 7.2vw;
  flex: 1 1 293px;
  min-height: 78px;
  margin-top: 56px;
  padding-bottom: 0;
  padding-right: 25px;
}

.banner__app-store {
  background-size: 113px 38px;
  background-position: left;
  margin-right: 39px;
  margin-left: 0px;
  margin-top: 14px;
}

.banner__google-play {
  background-position: left;
  background-size: 113px 33px;
  margin-left: 5px;
  margin-top: 15px;
}

.banner__background-img {
  flex: 0 1 246px;
  max-height: 251px;
  margin-left: 110px;
  margin-top: -137px;
 
}
// end Banner

 /* -------steps mob--------- */
 .main-section-steps {
  padding: 50px 0 58px 0;
}

.steps__title {
  font-size: 5vw;
  line-height: 6.1vw;
  margin-left: 16px;
  margin-right: 16px;
}

.steps__card-wrap {
  margin-top: 54px;
  width: 360px;
}

.steps__card-wrap:before, .steps__card-wrap:after {
  content: '';
  flex: 0 0 16px;
  height: 100%;
}

.steps-card-item_number {
  font-size: 5vw;
  line-height: 6.1vw;
}

.steps-card-item_text {
  font-size: 4.4vw;
  line-height: 5.3vw;
}
/* -------end steps mobile--------- */


/* Questions mob*/
.main-section-questions {
  // width: 100%;
  min-height: 211px;
}

.questions-container {
  min-width: $container-width-mob;
}

.questions-container {
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: center;
  // text-align: center;
  margin-top: 56px;
}

.questions-btn-rectangle {
  flex: 0 0 320px;
  height: 41px;
}

.show-answers {
  margin-top: 0px;
  margin-bottom: 56px; 
}

.answers-wrap {
  // display: flex;
  // flex-flow: column wrap;
  flex: 0 0 328px;
  // align-items: flex-start;
  // border-bottom: 1px solid rgba(196, 196, 196, 0.72);
}

.questions-title-inner {
  min-width: 328px;
  // min-height: 72px;
  // border-top: 1px solid rgba(196, 196, 196, 0.72);
  // border-bottom: 1px solid rgba(196, 196, 196, 0.72);
  // display: flex;
  // flex-flow: column wrap;
  // justify-content: center;
  // align-items: flex-start;
}

.questions-title-inner:nth-last-of-type(1) {
  margin-bottom: 94px;
}

// .question {
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 19px;
//   text-transform: uppercase;
//   color: $text-color-main;
//   margin: 26px 0;
// }

// .question::after {
//   content: url(../img/icons/questions-arrow.svg);

// }

.answers {
  text-align: left;
  min-height: 200px;
  max-width: 316px;
  // white-space: pre-wrap;
  // font-style: normal;
  // font-weight: normal;
  // font-size: 16px;
  // line-height: 24px;
  // color: $text-color-main;
  margin: 6px 28px 12px 0;
}
/* end Question Tab */

/* -------footer mob--------- */
.footer {
  display: grid;
  min-height: 470px;
  grid-template-columns: 1fr;
  grid-template-rows: 24.26%	57.45%	18.12%;
}

.footer-contacts_wrap {
  display: none;
}

.footer-socials {
  display: grid;
  grid-row: 1 / 2;
  grid-template-columns: 10.83%	78.34% 10.83%;
  background: $background-color-socials;
}

.socials-text {
  display: none;
}

.socials-icons {
  
  min-width: 282px;
  
  align-self: center;
  justify-content: space-between;
}

.socials-icons a {
  max-width: 40px;
  max-height: 40px;
}

.footer-nav {
  background: $background-color-header-top;
}

.container-footer-nav {
  max-width: $container-width-mob;
  grid-row: 2 / 3;
  display: flex;
  height: 270px;
  flex-direction: column;
  padding-left: 41px;
  justify-content: space-around;
}

.footer-nav a{
  font-family: $font-family-main;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  line-height: 6.1vw;
  text-decoration: none;
  color: $text-color-white;
}

.footer-copyright {
  background: $background-color-header-top;
  border-top: 1px solid $background-color-main;
}

.container-footer-copyright {
  max-width: $container-width-mob;
  grid-row: 3 / 4;
  display: flex;
  height: 86px;
  padding-left: 33px;
}

.footer-copyright_text {
  display: flex;
  align-self: center;
  font-family: $font-family-main;
  font-style: normal;
  font-weight: normal;
  font-size: 4.4vw;
  line-height: 5.3vw;
  color: $text-color-white;
  
}
/* -------end footer mob--------- */
}
 